@font-face {
  font-family: 'Ronet DEMO';
  font-size: 105px;
  font-style: normal;
  font-weight: 400;
  src: local('Ronet DEMO'), local('Ronet DEMO'), url('../fonts/Ronet\ DEMO.ttf');
}

$garamond: 'EB Garamond';
$ronet: 'Ronet DEMO';
$pd: 'Playfair Display';
