@font-face {
  font-family: 'Ronet DEMO';
  font-size: 105px;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ronet-demo.regular.ttf');
}

$garamond: 'EB Garamond';
$ronet: 'Ronet DEMO';
$pd: 'Playfair Display';
