@media screen and (max-width: 767px) {
  .heroy {
    height: 591px;
    background: url('../images/heroy.jpg');
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .name {
    position: relative;

    & > img {
      display: none;
    }
  }
  .block-name {
    position: absolute;
    top: 360px;
    left: 84px;
    display: block;
  }

  .font-heroy {
    display: block;
    @include fontFamily($ronet, 105px, 400);
    text-align: center;
    line-height: 55px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .heroy {
    height: 400px;
  }
  .name {
    position: relative;
    display: block;
    top: -90px;
    height: 480px;

    background: url('../images/heroy_1290.jpg');
    background-position: top left;
    background-size: 680px;
    background-repeat: no-repeat;

    z-index: -1;
  }

  .block-name {
    position: absolute;
    top: 90px;
    right: 84px;
    display: block;
  }

  .font-heroy {
    display: block;
    @include fontFamily($ronet, 130px, 400);

    color: #000000;

    transform: rotate(-5.6deg);
    text-align: center;
    line-height: 85px;
    margin: 0;
  }
}
